<!DOCTYPE html>
<html lang="hr">
  <head>
    <title>GolangHr events</title>

		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/resources/mdl/material.min.css">
		<link rel="stylesheet" href="/resources/mdl/style.css">
		<link rel="stylesheet" href="/resources/css/messages.css">
		
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<script src="/resources/js/jquery-2.1.4.min.js"></script>

		{{template "header" .}}
		
  </head>
  <body class="">

		<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
      <div class="ribbon"></div>
      <main class="mdl-layout__content">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

						{{template "content" .}}
						
          </div>
        </div>
        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <div class="mdl-logo">Powerd by Go</div>
          </div>
        </footer>
      </main>
    </div>

		<a href="#registrationForm" id="register-bait" class="mdl-button mdl-js-button mdl-button--fab mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">
			<i class="material-icons">add</i>
		</a>
		<div class="mdl-tooltip" for="register-bait">
			Register
		</div>
		
	  <script src="/resources/mdl/material.min.js"></script>
  </body>
</html>
