<!DOCTYPE html>
<html lang="hr">
  <head>
    <title>GolangHr events {{.Title}}</title>

		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/resources/mdl/material.min.css">
		<link rel="stylesheet" href="/resources/mdl/style.css">
		
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>

		<div class="mdl-layout mdl-js-layout">
			<header class="mdl-layout__header mdl-layout__header--scroll">
				<div class="mdl-layout__header-row">
					<!-- Title -->
					<span class="mdl-layout-title">Title</span>
					<!-- Add spacer, to align navigation to the right -->
					<div class="mdl-layout-spacer"></div>
					<!-- Navigation -->
					<nav class="mdl-navigation">
						<a class="mdl-navigation__link" href="">Link</a>
						<a class="mdl-navigation__link" href="">Link</a>
						<a class="mdl-navigation__link" href="">Link</a>
						<a class="mdl-navigation__link" href="">Link</a>
					</nav>
				</div>
			</header>
			<div class="mdl-layout__drawer">
				<span class="mdl-layout-title">Title</span>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="">Link</a>
					<a class="mdl-navigation__link" href="">Link</a>
					<a class="mdl-navigation__link" href="">Link</a>
					<a class="mdl-navigation__link" href="">Link</a>
				</nav>
			</div>
			<main class="mdl-layout__content">
				<div class="page-content event-container">
					<div class="event-content">

						{{template "content" .}}

					</div>
				</div>

				<footer class="mdl-mini-footer">
					<div class="mdl-mini-footer__left-section">
						<div class="mdl-logo">Title</div>
						<ul class="mdl-mini-footer__link-list">
							<li><a href="#">Help</a></li>
							<li><a href="#">Privacy & Terms</a></li>
						</ul>
					</div>
				</footer>
      </main>
    </div>

	  <script src="/resources/mdl/material.min.js"></script>
  </body>
</html>
