{{define "content"}}

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
      <h4 class="card-title mdl-cell mdl-cell--12-col">Event registration</h4>
			
			
				<form id="registrationForm" action="/" method="post">
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" id="name" name="name" pattern="[A-Za-z\sČĆŽŠĐčćžšđ]+" data-required />
						<label class="mdl-textfield__label" for="name">Name</label>
						<span class="mdl-textfield__error">Please provide name.</span>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" id="surname" name="surname" pattern="[A-Za-z\sČĆŽŠĐčćžšđ]+" data-required />
						<label class="mdl-textfield__label" for="surname">Surname</label>
						<span class="mdl-textfield__error">Please provide surname.</span>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="email" id="email" name="email" data-required />
						<label class="mdl-textfield__label" for="email">Email</label>
						<span class="mdl-textfield__error">Please provide valid email.</span>
					</div>

					<div>
						<input type="submit" id="submitBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" name="submit" value="Submit" disabled />
					</div>
					

				</form>
				

    </div>
  </div>
</section>

{{end}}

{{define "header"}}

<script>
function checkAllRequiredFields(){
    var formValid = false;
    
    $('.mdl-textfield__input[data-required]').each(function(ix, el){
	formValid = true;
	var elm = $(el);
	
	if (elm.val().length == 0) {
	    formValid = false;
	    return;
	}

	if (typeof elm[0].checkValidity != "undefined") {
	    if (elm[0].checkValidity() == false) {
		formValid = false;
		return;
	    }
	}
    });

    if (formValid) {
	$('#submitBtn').removeAttr('disabled');
    } else {
	$('#submitBtn').attr('disabled', 'disabled');
    }
}

$(document).ready(function(){

    $('.mdl-textfield__input[data-required]').keyup(function(ev) {
	checkAllRequiredFields();
    });
    
});
</script>

{{end}}
